*{
  font-family:"Times New Roman";
}
h1{
  text-align:center;
  text-transform:capitalize;
}

#outer{
  font-size:25px;
}

#inner{
  font-size:10px;
}

#box{
  height:500px;
  width:300px;
  background-color:black;
  margin-left:600px;
}
#circle1{
  height:100px;
  width:100px;
  border-radius:50%;
  background-color:red;
  margin:30px 50px 70px 100px;

}
#circle2{
  height:100px;
  width:100px;
  border-radius:50%;
  background-color:green;
  margin:50px 50px 70px 100px;
}
#circle3{
  height:100px;
  width:100px;
  border-radius:50%;
  background-color:yellow;
  margin:30px 50px 70px 100px;
}