#box{
  background-color:blue;
  color:azure;
}
.Heading{
  color:brown;
}

button{
  background-color:green;
}
h1{
  text-align:center;  
  /* This tag is use to underline,overline and line through*/
  text-decoration:line-through; 
}

h2{
  text-align:right; 
  text-decoration:overline;
}

h3{
  text-align:left;
  text-decoration:red wavy underline; 
}

p{
  text-align:left;
  line-height:25px /* space occupied by every line.*/
  }

 /* font-weight is use to shadde the word from lighter to bolder.its value is 100 to 900. */

#p1{
  font-weight:lighter;
}

#p2{
  font-weight:normal;
}

#p3{
  font-weight:bold;
}

#p4{
  font-weight:900;
}

#one{
  font-size: 30px;
  text-transform:uppercase; /*convert every letter into uppercase.*/
}

#two{              /* 96px=1 inch=2.54cm */
  font-size:20px;
  text-transform:lowercase;  /*convert every letter into lowercase.*/
}

#three{
  font-size:10px;
  text-transform:capitalize; /* convert 1st letter into uppercase.*/
}