*{
  padding:0;
  margin:0;
  color:white;
  
  
}
#navbar{
  height:60px;
  background-color:#0f1111;
}

button{
  background-color:#f08804;
  color:white;
}

#logo{
  color:#f08804;
  font-size:25px;
}
a{
  margin-right:200px;
  text-decoration:none; /*for removing underline from clickable text.*/
}
.contentBox{
  height:100px;
  width:100px;
  border:2px solid black;
  display:inline-block;
  color:black;
}

#content{
  height:730px;
}
footer{
  color:white;
  background-color:#0f1111;
  text-align:center;
}