div{
  height:150px;
  width:200px;
  background-color:chocolate;
  border:2px solid black;
  position:absolute;
  top:200px;
  left:400px;
  animation-name:colorAnimate;
  animation-duration:0.25s;
  /* animation-timing-function:ease-in; */
  animation-delay:1s;
  animation-iteration-count:infinite;

}

@keyframes colorAnimate{
  from{ background-color:chocolate;}
  to{background-color:green;}
}